*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}






body{
    background: radial-gradient(circle, rgb(2, 6, 40,3) 10%, rgb(0, 0, 23,9) 80%);  
    height: 100vh;
}

    /* Colors */

:root {
    --white-color :#fff;
    --black-color:#000;
    --hover-color:rgb(24, 168, 232);
    --primary-color: rgb(36, 64, 153);
    --secondary-color :rgb(37, 99, 235);
    --ternary-color:rgb(28, 128, 239);
    --btn-color:rgb(4, 4, 8);
    --para-color:rgb(123, 124, 127);
}

    /* Typography */

:root{
    /* Font- size */
    --ft-xsm-size:0.8rem;
    --ft-sm-size:1rem;
    --ft-nor-size:1.2rem;
    --ft-md-size:1.5rem;
    --ft-lg-size:2.2rem;
    --ft-xlg-size:3rem;
    /* Font- weight */
    --ft-sm-wt:600;
    --ft-md-wt:700;
    --ft-lg-wt:800;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 10, 1);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(24, 168, 232), rgb(28, 128, 239), rgb(37, 99, 235), rgb(36, 64, 153));
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgb(36, 64, 153), rgb(37, 99, 235), rgb(28, 128, 239), rgb(24, 168, 232));
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 10, 1);
}




/* Footer */

footer{
    background:var(--black-color);
    color: var(--white-color);
    border-top: 0.5px solid var(--para-color);
}

.footer-logo{
    width:1.7rem;
    height:2rem;
}

#ft-row{
    max-width:1200px;
    margin: 0 auto;
}

#web-logo-div{
    display: flex;
    align-items: center;
}

.web-title{
    font-size: var(--ft-lg-size);
    font-weight: var(--ft-md-wt);
}


.web-title span{
    color:var(--ternary-color);
}

.logo-des{
    font-size: var(--ft-sm-size);
    padding:1rem 0;
    max-width:200px;
}

.col-2-title{
    font-size: var(--ft-md-size);
    
}

.underline{
    width:100px;
    height:1.5px;
    background-color: var(--ternary-color);
}

.ft-links{
    font-size: var(--ft-sm-size);
    line-height: 30px;
}

.next-page:hover{
    color:var(--ternary-color) !important;
}

.ft-mail{
    color:var(--white-color);
}

#socio-icon:hover{
    color:var(--ternary-color)!important;
}

.copy-right{
    font-size: var(--ft-xsm-size);
}

.copy-right span{
    background: linear-gradient(180deg, rgb(24, 168, 232), rgb(28, 128, 239), rgb(37, 99, 235), rgb(36, 64, 153)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
}